@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

  .hide-scrollbar::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .hide-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }